{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
  <title>Logged out</title>
{% endblock %}

{% block auth_content %}
  <div class="container">
    <h1>Logged out successfully</h1>

    <hr>
    <div class="mb-5">
        <small class="text-muted">
            Login again
            <a href="/users/login">
                Login
            </a>
        </small>
    </div>
  </div>
{% endblock %}

{% block script %}
{% bootstrap_javascript %}
<script>
  setTimeout(() => {
    const messages = document.querySelectorAll('#messages')
    messages.forEach((msg) => {
      msg.remove()
    })
  }, 5000)
  
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
{% endblock %}