{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}


{% block title %}
<title>
  Your Products
</title>
{% endblock  %}

{% block style %}
  <style>
     * {
      transition: 1s ease;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
     }
    .main {
      display:grid;
      grid-template-columns: auto auto auto;
      gap: 20px;
      margin: 50px;
      
      
    }
    .card {
      width: auto;
      margin-left: 15px;
      margin-right: 15px;
      
      height: auto;
      
      
     
    }
    .card:hover {
      transform: scale(1.02);
    }

  </style>
{% endblock %}

{% block content %}
<h1 style="font-family: roboto; text-align: center; margin: 20px auto;">Your Products</h1>

  
  <div class="main">
    {% if items %}
  {% for product in items%}
    <div class="card">
         
      <img src="{{ product.image.url }}" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <small class="text-secondary">Created at: {{ product.created|date:'d-m-Y' }}</small>
        </li>
        <li class="list-group-item">
          <strong>Category:</strong>{{ product.category }}
        </li>
        <li class="list-group-item">
          <strong>Brand:</strong>{{ product.brand }}
        </li>
        <li class="list-group-item">
          <strong>Price:</strong>${{ product.price }}
        </li>
        <li class="list-group-item">
          <strong>Size:</strong>{{ product.size }}
        </li>
        <li class="list-group-item">
          <strong>Color:</strong>{{ product.color }}
        </li>
      </ul>
      {% if product.author.id == request.user.id %}
      <div class="container mt-2">
        <div class="row">
            <div style="width: 32%" class="col">
                <button style="width: 150px;" type="button" class="btn btn-primary btn-block"><a style="text-decoration: none; color: white;" href="{% url 'update_product' product.id %}">Update</a></button>
            </div>
            <div style="width: 32%" class="col">
                <button style="width: 145px;" type="button" class="btn btn-success btn-block"><a style="text-decoration: none; color: white;" href="{% url 'clothes_details' product.id %}">View</a></button>
            </div>
            <div style="width: 32%" class="col">
                <button style="width: 145px;" type="button" class="btn btn-danger btn-block"><a style="text-decoration: none; color: white;" href="{% url 'delete_product' product.id %}">Delete</a></button>
            </div>
            
        </div>
    </div>
    {% else %}
    <div style="display: flex; flex-direction: row;">
      <a href="{% url 'clothes_details' product.id %}" 
      class="btn btn-sm col-sm-6 btn-info"
    >
      View
    </a>
    <a href="{% url 'add_to_cart' product.id %}" 
      class="btn btn-sm col-sm-6 btn-success"
    >
      Add to Cart
    </a>
    </div>
   
  
    {% endif %}
    
      </div>
     
     
     

  
      
        
    {% endfor %}
  {% else %}
    <h1>Your Product is empty</h1>
        
        <br>
      </div>
  {% endif %}
{% endblock %}
